<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag and Drop</title>
    <link rel="stylesheet" href="/matchup/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
        <p class="title">
            MATCH-UP MAYHEM
        </p>
        <p class="result">
            
        </p>
    <main>
        <div class="left">
            <div class="drag-item i1" draggable="true" data-set="i1" id="l1" >
                Justice
            </div>
            <div class="drag-item i2" draggable="true" data-set="i2" id="l2" >
                Liberty
            </div>
            <div class="drag-item i3" draggable="true" data-set="i3" id="l3">
                Equality
            </div>
            <div class="drag-item i4" draggable="true" data-set="i4" id="l4">
                Fraternity
            </div>
        </div>
    
        <div id="drop-zone">
            
        </div>
    
        <div class="right">
            <div class="drag-item i4" draggable="true" data-set="i4" id="ll4">
                Promoting brotherhood and unity among all citizens
            </div>
            <div class="drag-item i1" draggable="true" data-set="i1" id="ll1">
                Fairness in terms of Law, economy, and social standing
            </div>
            <div class="drag-item i3" draggable="true" data-set="i3" id="ll3">
                Ensuring equal rights and opportunities for all
            </div>
            <div class="drag-item i2" draggable="true" data-set="i2" id="ll2">
                Protection of personal freedoms
            </div>
        </div>
    
    </main>
   
    <script src="/matchup/scripts.js"></script>
</body>
</html>
