<html>

<head>
    <title>
        Let's Play &amp; Learn the Constitution
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/playpage/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="header">
        <div class="name">
            ConQuest
        </div>
        <a href="/resource" id="book">
            <img src="/playpage/assets/book1.png" alt="resource page">
        </a>


        <!-- <div class="cloud-container">
            <img src="assets/CLOUD.svg" alt="cloud" class="cloud1">
            <img src="assets/CLOUD.svg" alt="cloud" class="cloud2">
            <img src="assets/CLOUD.svg" alt="cloud" class="cloud3">
            <img src="assets/CLOUD.svg" alt="cloud" class="cloud4">
            <img src="assets/CLOUD.svg" alt="cloud" class="cloud5">
            <img src="assets/CLOUD.svg" alt="cloud" class="cloud6">
        </div> -->
        <div class="tagline-container">
            <img src="/playpage/assets/Group 18.svg" alt="stars" class="left-star">
            <div class="tagline">
                <div class="title">
                    LET'S PLAY &amp; LEARN
                </div>
                <div class="subtitle">
                    THE CONSTITUTION
                </div>
            </div>
            <img src="/playpage/assets/Group 19.svg" alt="stars" class="right-star">
        </div>
    </div>
    <div class="container">
        <img class="left-book" src="/playpage/assets/left-book.svg" alt="left-book">
        <img class="left-pole" src="/playpage/assets/left-pole.svg" alt="left-pole">
        <div class="mode story-mode">
            <div class="title">
                ALL GAMES
            </div>
            <div class="mode-image">
                <img alt="Story Mode Image" src="/playpage/assets/AllGames.jpg" width="100%" />
            </div>
            <div class="scale">
                <img alt="Scales of justice" src="/playpage/assets/balance-scale.svg" />
            </div>
            <a href="/allgames">
                <button class="play-now" href="#">
                    PLAY NOW
                </button>
            </a>

        </div>
        <div class="mode quiz-mode">
            <div class="title">
                INTERACTIVE MODE
            </div>
            <div class="mode-image">
                <img alt="Story Mode Image" src="/playpage/assets/Map_Based.jpg" width="100%" />
            </div>
            <div class="scale">
                <img alt="Scales of justice" src="/playpage/assets/balance-scale.svg" />
            </div>
            <a href="/map">
                <button class="play-now" href="#">
                    PLAY NOW
                </button>
            </a>

        </div>
        <div class="mode challenge-mode">
            <div class="title">
                CHAT BOT
            </div>
            <div class="mode-image">
                <img alt="Story Mode Image" src="/playpage/assets/ChatBot.jpg" width="100%" />
            </div>

            <div class="scale">
                <img alt="Scales of justice" src="/playpage/assets/balance-scale.svg" />
            </div>
            <a href="/chatbot">
                <button class="play-now">
                    PLAY NOW
                </button>
            </a>

        </div>



        <!-- <div class="mode challenge-mode">
            <div class="title">
                CHALLENGE
            </div>
            <div class="mode-image">
                <img alt="Story Mode Image" src="assets/left-game.svg" width="100%" />
            </div>
            <div class="scale">
                <img alt="Scales of justice" src="assets/balance-scale.svg" />
            </div>
            <button class="play-now" href="#">
                PLAY NOW
        </div> -->
        <img class="right-pole" src="/playpage/assets/right-pole.svg" alt="left-pole">
        <img class="right-hammer" src="/playpage/assets/right-hammer.svg" alt="right-hammer">
    </div>

</body>

</html>