<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/chatbot/styles.css">
    <script src="https://kit.fontawesome.com/4c3e6c881c.js" crossorigin="anonymous"></script>
</head>

<body>
    <a href="/play" id="home"><i class="fa-solid fa-house"></i></a>
    <p id="genie">GENIE</p>
    <div id="bg">

    </div>
    <script src="https://cdn.botpress.cloud/webchat/v2.1/inject.js"></script>
    <script
        src="https://mediafiles.botpress.cloud/1b658d72-b8b2-4359-8c1f-72dd41805ed2/webchat/v2.1/config.js"></script>
    <script>
        window.botpress.open()
    </script>
</body>

</html>