<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/allgames/styles.css" />
</head>

<body>
    <h1>ALL GAMES</h1>
    <main class="page-content">
        <div class="card">
            <div class="content">
                <h2 class="title">Card Quest</h2>
                <p class="copy">
                    "*State Policy Showdown*" is a quick, fun card game where players decide if statements about India's
                    Directive Principles of State Policy are right or wrong!
                </p>
                <a href="/cardgame">
                    <button class="btn">Start Game</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">MatchUp Mayhem</h2>
                <p class="copy">
                    an engaging game where players match questions about the Preamble of India's
                    Constitution Test your knowledge of justice, liberty, equality, and fraternity in a fun and
                    interactive way!
                </p>
                <a href="/matchup">
                    <button class="btn">Start Game</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Quiz Game</h2>
                <p class="copy"> an exciting quiz game where players answer questions on the Fundamental
                    Duties. Choose wisely from four options—each wrong choice costs you a life!</p>
                <a href="/quizgame">
                    <button class="btn">Start Game</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Situation Game</h2>
                <p class="copy">
                    a scenario-based game where players choose the right path in real-life situations
                    involving Fundamental Rights to ensure justice and win!
                    <br>
                    <a href="/situationgame">
                        <button class="btn">Start Game</button>
                    </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Spin The Wheel</h2>
                <p class="copy">
                    a fun spin-the-wheel game where players spin to land on different Articles of the Indian
                    Constitution and receive an insightful overview of each one! <br>
                    <a href="/spin">
                        <button class="btn">Start Game</button>
                    </a>
            </div>
        </div>
    </main>
</body>

</html>