<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/homepage/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One:wght@400&family=Cabin:wght@400&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="top-section">
        <img src="/homepage/assets/group%20of%20children%20left.png" class="image1" alt="Image 1">
        <img src="/homepage/assets/building%20right.png" class="image2" alt="Image 2">
        <img src="/homepage/assets/kids%20walking%20right.png" class="image3" alt="Kids Walking Right">
        <img src="/homepage/assets/blue%20cloud%20right.png" class="image5" alt="Blue Cloud Right">
        <img src="/homepage/assets/orange%20cloud%20right.png" class="image6" alt="Orange Cloud Right">
        <img src="/homepage/assets/b%20flag.png" class="image7" alt="BG Flag">
        <img src="/homepage/assets/smiling%20kid%20right.png" class="image8" alt="smiling kid">
        <img src="/homepage/assets/indain%20flag.png" class="image9" alt="flag on right">
        <img src="/homepage/assets/justice%20lady.png" class="image10" alt="statue">
        <div class="text-container">
            <p class="main-text">Learn the Constitution On Simpler Term One Game at a Time!</p>
        </div>
        <a href="/play"><button class="play-button">Play</button></a>
        <a href="/login"><button class="login-button">Login</button></a>
    </div>
    <div class="bottom-section">
        <div class="text-container">
        </div>
        <div class="boxes-container">
            <div class="circle-box1">
                <img src="homepage/assets/Star%201.png" class="star" alt="Star">
            </div>
            <div class="gradient-box gradient-box1">
                <a href="/matchup">
                    <img src="/homepage/assets/Boy1.svg" class="box-image" alt="Image 1">
                    <p class="caption">Preamble</p>
                </a>
            </div>
            <div class="circle-box2">
                <img src="/homepage/assets/Star%201.png" class="star" alt="Star">
            </div>
            <div class="gradient-box gradient-box2">
                <a href="/situationgame">
                    <img src="/homepage/assets/Boy2.svg" class="box-image" alt="Image 2">
                    <p class="caption">Fundamental Rights</p>
                </a>
            </div>
            <div class="circle-box3">
                <img src="/homepage/assets/Star%201.png" class="star" alt="Star">
            </div>
            <div class="gradient-box gradient-box3">
                <a href="/quizgame">
                    <img src="/homepage/assets/Boy3.svg" class="box-image" alt="Image 3">
                    <p class="caption">Fundamental Duties</p>
                </a>
            </div>
            <div class="circle-box4">
                <img src="/homepage/assets/Star%201.png" class="star" alt="Star">
            </div>
            <div class="gradient-box gradient-box4">
                <a href="/cardgame">
                    <img src="/homepage/assets/police.png" class="box-image" alt="Image 4">
                    <p class="caption">Directive of State Policy</p>
                </a>
            </div>
            <div class="circle-box5">
                <img src="/homepage/assets/Star%201.png" class="star" alt="Star">
            </div>
        </div>
    </div>
</body>

</html>