/* Resetting margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling body to center the object */
  body {
    display: flex;
    
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
  }
  
  /* Styling the animated object */
  .animated-object {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.1s linear;
  }
  